@charset "utf-8";


@import url(https://db.onlinewebfonts.com/c/57f0d312017e3471c956900c601e683d?family=Cherolina);

@font-face{font-family:'Stigfier';font-style:normal;font-weight:400;src:local('fonts/Stigfier.woff'),url(https://fonts.cdnfonts.com/s/108800/Stigfier.woff) format('woff')}

html, body, div, p, ul, ol, li, dl, dt, dd, span, strong, table, th, td, em, form, input, textarea {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

html {
    font-size: 15px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #39191D;
}

#wrap {
    min-width: 1400px;
}

#top {
    position: relative;
    height: 536px;
    overflow: hidden;
}

#banner {
    position: absolute;
    width: 1920px;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

#header {
    position: absolute;
    width: 1320px;
    z-index: 9;
    top: 30px;
    left: 50%;
    color: #fff;
    margin-left: -660px;
}

.gnb_wrap {
    display: flex;
    align-items: center;
}

.gnb {
    display: flex;
}

.gnb li {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 400;
}

.gnb_wrap h1 {
    margin-right: 50px;
}

.login {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.login li {
    margin-left: 15px;
}

#banner h1 {
    position: absolute;
    width: 1320px;
    z-index: 9;
    top: 65%;
    left: 50%;
    margin-left: -74px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#container {
    height: 1482px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/like_coffee/coffee_secton2_bg.jpg) no-repeat center top 415px;
}

.text_wrap {
    padding-top: 149px;
}

.title {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0 30px;
}

.title_eng {
    font-size: 124px;
    font-family: 'Cherolina';
    color: #D11F36;
    opacity: 60%;
}

.coffee_wrap {
    margin: 100px auto;
    width: 511px;
    height: 865px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.coffee_img {
    padding: 113px 0 30px;
}

.name {
    font-size: 22px;
    font-weight: 500;
}

.eng_name {
    font-size: 17px;
    font-family: 'Stigfier';
    padding: 5px 0 10px;
}

.coffee_wrap ul {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.coffee_wrap ul li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #39191D;
    margin-right: 8px;
}
.coffee_wrap ul li:nth-child(1)::before{
    display: none;
}

.coffee_wrap ul li {
    padding-right: 8px;
}

.gauge {
    padding: 20px 0;
}

.up_wrap {
    margin: 45px auto;
    width: 415px;
    border-bottom: 0.5px solid #bb9da1;
    padding-bottom: 45px;
}

.down_wrap {
    margin: 45px auto;
    width: 415px;
}

.tip {
    font-size: 16px;
    font-weight: 500;
}

.color {
    font-size: 16px;
    font-weight: 500;
    color: #D11F36;
    padding: 5px 0 20px;
}






.view a {
    display: flex;
    align-items: end;
    justify-content: center; 
}

.view img {
    padding-left: 20px;
    padding-bottom: 3px;
    width: 30px;
    height: 8px;
}









#footer {
    height: 375px;
    margin: 0 auto;
    background-color: #300006;
    font-size: 13px;
    color: #fff;
}

.inner_footer {
    margin: 0 auto;
    width: 1320px;
    height: 247px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_link {
    display: flex;
    padding-bottom: 10px;
}

.footer_link li {
    margin-right: 10px;
}

.footer_link li::before{
    content: "";
    display: inline-block;
    width: 0.5px;
    height: 10px;
    background-color: #fff;
    margin-right: 10px;
    vertical-align: 0px;
}
.footer_link li:nth-child(1)::before{
    display: none;
}

.footer_copyright {
    display: flex;
}

.footer_copyright p {
    padding-right: 30px;
}

.go_to_top {
    text-align: center;
    font-family: 'Stigfier';
    font-size: 10px;
}

.sns a {
    margin-left: 10px;
}